*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-grey: #202020;
}

/*Styling for header*/
header {
    height: 80px;
    background-color: #f3f7fc;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 2rem;
}

.nav-links ul li a {
    color: var(--dark-grey);
    text-decoration: none;
}